@media screen and (min-width:480px) and (max-width:600px) {
    *{
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    body{
        margin:0;
        max-width: 100%;
        overflow-x: hidden;
        
    }
      
    .menu{ 
        flex-direction: column;
        width: 100%;
        justify-content: space-between; 
        background-color:#DAAC00; 
        text-align:center;
        margin:0px; 
        
    } 
    .menu ul {
        list-style-type: none;
        color:white;
        overflow: hidden;
        margin:0px;
        padding:0px; 
    }
    .menu ul li {
        float:none;
        height:5rem;
    }
    li a {
        display: block;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 1.12rem;
        padding-top:49px;
        padding-bottom:49px;
        padding-left:8px;
        padding-right: 8px;;
    }
      
    #logo{
        
        box-shadow: #f5d870 13px 5px 13px 2px;
        padding-top:1.06rem;
        padding-bottom:1.06rem;
        padding-left: 3.75rem;
        padding-right: 2.12rem;
    }
    input[type=text] {
        width:275px;
        font-weight: 17px;
        border: none;
        background-color: #FCC302;
        padding: 1em;
        
    }
      
    input::placeholder{
        color: white;
    }
      
      
    .search-bar>button{
        background-color: rgba(0, 190, 201, 1);
        border: none;
        padding: 1em;
        color: white;
    }
    form {
        padding-top:1.06rem;
        padding-bottom:1.06rem;
        padding-left: 3.75rem;
        padding-right: 2.12rem;
    }
    header{
        
        margin:0px;
        padding:3.5rem 3.5rem 3.5rem 5.5rem ;
    }
    h1{
        color:#313243;
        font-size:2rem;
    }
    .item1{
        font-weight: bold;
        font-size:1,6rem;
        color:#FCC302;
    }
    .cu{
        border: 2px solid rgba(0, 190, 201, 1);
        background-color: rgba(0, 190, 201, 1);
        padding: 0.5em 1em;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        margin-right: 1em;
        font-size: small;
    }
    .os{
        border: 2px solid #FCC302;
        background: transparent;
        padding: 0.5em 1em;
        border-radius: 5px;
        color:#FCC302;
        font-weight: bold;
        font-size: small;
    }
    .dog{
        display:none;
    }
    .boxes{
        background-color:#FCC302;
        color:white;
        margin:0px;
        padding:2.5rem 5.5rem 3.5rem 5.5rem ;
    }
    .text h4{
        font-size: 2rem;
        
    } 
    .text p{
        font-size:1.2rem;
        color:#313243;
    }
    video{
        width: 350px;
        height:350px;
    }
    .btn-3{
        border: 2px solid white;
        background: transparent;
        padding: 0.5em 1em;
        border-radius: 5px;
        color:white;
        font-weight: bold;
        font-size: small;
    }
      
    .service{
        padding: 2.5rem 5.5rem 3.5rem 5.5rem;
        text-align:center;
    }
    .service h2{
        font-size: 2rem;
        color: #313243;
    }
    .service h3{
        color: #313243;
        margin-bottom: 0px;
    }
    .boxes1 img{
        box-shadow: rgb(172, 171, 171) 10px 5px 15px;
    }
    .box{
        padding-bottom: 15px;
    }
    .service p{
        color:#FCC302;
    }  
    .btn-4{
        background-color:#00BEC9;
        border:none;
        border-radius: 35px;
        color:white;
        text-decoration: none;
        text-align:center;
        padding: 1em 2em;
        font-size: small;
        font-weight: bold;
        
    }
    .team{
        padding: 2.5rem 5.5rem 3.5rem 5.5rem;
        text-align:center;
        background-color: #FCC302;
        color:white;
        
    }
    .team h2{
        font-size:2rem;
        margin:0px;
    }
    .boxes2 img{
        width:21rem; 
        height:21rem;
        border:2px solid white;
    }
    .box1{
        padding-bottom: 20px;
    }  
    .box1 h3{
        margin:0px;
    }
    .box1 p{
        margin:0px;
    }
    #color{
        background-color: white;
        color:#313243;
    }
    .box3 {
        text-align:left;
        box-shadow: #d3d7d8ce 5px 5px 10px;
        margin-bottom: 15px;
    }
    .box3 h4 {
        font-size:1.7rem;
        margin-bottom:0px;
        margin-top:0px;
    }
    .style{
        color:#00BEC9;
        margin-top:0px;
    }
    .style1{
        color:#00BEC9;
        font-size:1.2rem;
        text-decoration: none;
    }
    .border{
        border-bottom:2px solid #D6D6D6;
        border-left:2px solid #D6D6D6;
        border-right:2px solid #D6D6D6;
        margin-top:0px;
        padding-left:6px;
    }
    .box3 img{
        margin-bottom:0px;
        width:300px;
        height: 300px;
    } 
      
    .informations{ 
      padding: 2.5rem 2.5rem 1.5rem 9.5rem;
      text-align:center;
      color:#babbe2;
      
    }
    .happyClients{
       height:12rem;
       width:12rem;
       background-color: #313243;
       border-radius:50%;
       box-shadow:#8b8db6 5px 5px 5px;
       margin-bottom:15px ;
    }
    .happyClients img{
       width:60px;
       height:70px;
       padding-top:20px;
    }
    .happyClients p{
       font-size: 1rem;
       margin: 0px;
    }
    .happyClients h3{
        margin-bottom: 50px;
        font-size: 1rem;
    }
    .footer-container{
        background-color:rgba(52, 52, 52, 1);
        color:white;
        
    }
    .footer{
        color:white;
        display: flex;
        flex-direction: column;
        justify-content:center;
        margin:0 auto;
        display: flex;
        justify-content:center;
        margin:0 auto;
    }    
}